
a{
	text-decoration: none;
}

nav{
	display: flex;
	justify-content: space-between;
	padding: 30px 20px;
	background-color: #30336b;
}
.logo{
	font-size: 30px;
	color: #fff;
	font-weight: bolder;
}
.menu a{
	font-size: 20px;
	color: #fff;
	margin-right:  20px;
}
.button{
	padding: 20px;
	color: #fff;
	background-color: #f9ca24;
	margin-right: 20px;
	border-radius: 10px;
	font-size: 20px;
}
.pageTitle{
	font-size: 30px;
	text-align: center;
}
#post{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.post{
	background-color: #f0932b;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
}

.comment{
    background-color: #badc58;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

#album{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.album{
    background-color: #e056fd;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}